<!DOCTYPE html>

<body ng-controller="InfoCompanyCtrl">
  <h1 class="text-center">Company</h1>
  <form name="formInfoCompany">
    <div id="divMsg">
      <div class="alert alert-success" ng-show="successMsg">
        {{successMsg}}
      </div>
      <div class="alert alert-danger" ng-show="errorMsg">
        {{errorMsg}}
      </div>
    </div>

    <a style="cursor: pointer; text-decoration: none !important;" class="fa fa-pencil fa-2x pull-right" title="Edit Company" ng-href="#/editCompany/{{company.id}}" type="button"></a>

    <a style="cursor: pointer; text-decoration: none !important;" class="fa fa-trash-o fa-2x pull-right" ng-click="removeCompany(company.id)" title="Remove Company" type="button"></a>

    <a style="cursor: pointer; text-decoration: none !important;" class='fa fa-arrow-left fa-2x pull-right' ng-href='#/list' title="Back" type="button"></a>

  </br>
</br>
<!-- COMPANY NAME -->
<div class="form-group">
  <input class="form-control" disabled id="name" name="name" ng-model="company.name" type="text">
</div>
<!-- /COMPANY NAME -->
<!-- COMPANY ADDRESS-->
<div class="form-group">
  <input class="form-control" disabled id="address" name="address" ng-model="company.address" type="text">
</div>
<!-- /COMPANY ADDRESS -->
<!-- COMPANY COUNTRY -->
<div class="form-group">
  <input class="form-control" disabled id="country" name="country" ng-model="company.country" type="text">
</div>
<!-- /COMPANY COUNTRY -->
<!-- COMPANY CITY -->
<div class="form-group">
  <input class="form-control" disabled id="city" name="city" ng-model="company.city" type="text">
</div>
<!-- /COMPANY CITY -->
<!-- COMPANY EMAIL -->
<div class="form-group">
  <input class="form-control" disabled id="email" name="email" ng-model="company.email" type="text">
</div>
<!-- /COMPANY EMAIL -->
<!-- COMPANY PHONENUMBER -->
<div class="form-group">
  <input class="form-control" disabled id="phoneNumber" name="phoneNumber" ng-model="company.phoneNumber" type="text">
</div>
<!-- /COMPANY PHONENUMBER -->
<!-- contatos COLABORADOR -->
<div class="row">
  <div class="form-group">
    <label for="employess">Employees</label>
    <br/>
    <br/>
    <span class="col-lg-6" ng-repeat="employee in company.employeeList">
      <span style="padding: 10px">{{ employee.name }}</span>
    </span>
  </div>
</div>
<!-- /contatos COLABORADOR -->

</form>
</body>
