<!DOCTYPE html>

<body class="bg-black" ng-controller="LoginCtrl">
  <div id="divMsg">
    <div class="alert alert-danger" ng-show="errorMsg">
      {{errorMsg}}
    </div>
  </div>
  <div class="form-box" id="login-box">
    <div class="header">Login</div>
    <form>
      <div class="body bg-gray">
        <div class="form-group">
          <input type="text" name="userid" ng-model="user" class="form-control" placeholder="User" required/>
        </div>
        <div class="form-group">
          <input type="password" name="password" ng-model="password" class="form-control" placeholder="Password" required/>
        </div>
      </div>
      <div class="footer">
        <button ng-click="login()" class="btn bg-olive btn-block">Connect</button>
      </div>
    </form>

    <div class="margin text-center">
      <span>Login using your social network!</span>
      <br/>
      <button class="btn bg-light-blue btn-circle" ng-click="loginFacebook()">
        <i class="fa fa-facebook"></i>
      </button>
      <button class="btn bg-red btn-circle" ng-click="loginGoogle()">
        <i class="fa fa-google-plus"></i>
      </button>
    </div>
  </div>

</body>
